.about-page-wrapper{
  width: 100vw;
  padding: 20px 3%;
  overflow: hidden;
  color: var(--white);
}
h1{
  color: var(--primary);
  font-size: var(--fourth-s);
  font-family: acolonica;
}
h3{
  color: var(--secondary-a);
  text-align: left;
}
b{
  color: var(--third) !important;
  margin: 0 5px 0 0;
}
p, ol{
  padding: 0;
  
}
p, ol{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 30px;
  margin-bottom: 50px;
}