main-section{
  padding: 0!important;
}
.total-students{
 display: flex;
}
.display-total{
  display: flex;
  border: 3px solid var(--primary);
  height: 30px;
  width: 30px;
  border-radius: 100%;
}
.students-list{
  column-width: 300px;
  gap: 1px;
}
.card{
  break-inside: avoid;
  border-bottom: 1px solid var(--primary);
}
.operations{
  width: 100%;
}
@media (max-width: 599px) {
  .sections-list{
    padding: 5px;
    gap: 1px;
  }
}
@media (min-width: 600px) {
  main-section{
    display:  flex;
  }
  .sections-list{
    padding: 10px;
    gap: 20px;
  }
  .side-wrapper{
    width: 30%;
    height: 100vh;
    max-width: max-content;
    min-width: max-content;
  }

  .main-wrapper{
    width: 100%;
    height: 100vh;
    overflow-y: auto;
  }
}
