main-section.add{
  .main-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 10px auto 10px auto;
  }
  .main-wrapper .cert-add-form{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 20px;
    }
    .cert-add-form span:first-child{
      display: block;
      padding: 10px 20px;
      background: var(--white);
      color: var(--primary);
      font-weight: 800;
      text-transform: uppercase;
      font-size: 18px;
    }
    .cert-add-form label{
      display: flex;
      column-gap: 10px;
      width: 100%;
      color: var(--white);
    }
    .cert-add-form label input{
      flex: 1;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 3px dotted;
      font-size: 18px;
    }
    .cert-add-form label input:focus{
      outline: none;
      color: var(--fourth);
    }
    .cert-add-form > input{
      background: var(--white);
      display: block;
      padding: 5px 10px;
      color: var(--primary);
      border-radius: 10px;
      font-size: 17px;
      border: 1px var(--white);
      cursor: pointer;
    }
    .add-success, .add-fail{
      display: block;
      margin: 20px auto;
      background: var(--primary);
      text-align: center;
      padding: 10px;
      color: var(--white);
    }
    .add-fail {
      background: var(--secondary-a);
    }
    @media (max-width:550px){
      .cert-add-form{
        width: calc(100% -20px);
        margin: 0 auto;
      }
    }
}

main-section.edit{
  .main-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 10px auto 10px auto;
  }
  .main-wrapper .find-certificate{
    width: 100%;
    display: flex;
    column-gap: 5px;
    margin-bottom: 50px;
    align-items: end;
    background: var(--primary);
    padding: 20px;
  }
  .find-certificate label{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
  }
  .find-certificate label span{
    color: var(--white);
    font-size: 19px;
  }
  .find-certificate label input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  .find-certificate label input:focus{
    outline: none;
  }
  .find-certificate > input{
    width: fit-content;
    height: fit-content;
    background: var(--white);
    color: var(--primary);
    font-weight: 800;
    padding: 10px ;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
    .main-wrapper .cert-update-form{
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 50px 20px;
    }
    .cert-update-form > span:first-child{
      display: block;
      padding: 10px 20px;
      background: var(--white);
      color: var(--primary);
      font-weight: 800;
      text-transform: uppercase;
      font-size: 18px;
    }
    .cert-update-form label{
      display: flex;
      column-gap: 10px;
      width: 100%;
      color: var(--white);
    }
    .cert-update-form label input{
      flex: 1;
      width: 100%;
      background: none;
      border: none;
      border-bottom: 3px dotted;
      font-size: 18px;
    }
    .cert-update-form label input:focus{
      outline: none;
      color: var(--fourth);
    }
    .cert-update-form > input{
      background: var(--white);
      display: block;
      padding: 5px 10px;
      color: var(--primary);
      border-radius: 10px;
      font-size: 17px;
      border: 1px var(--white);
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 500;
    }
    .update-success, .update-fail, .invalid-code{
      display: block;
      margin: 20px auto;
      background: var(--primary);
      text-align: center;
      padding: 10px;
      color: var(--white);
    }
    .update-fail, .invalid-code{
      background: var(--secondary-a);
    }
    .old-certificate-code{
      display: none;
    }
    @media (max-width:550px){
      .cert-update-form{
        width: calc(100% -20px);
        margin: 0 auto;
      }
    }
}
main-section.delete{
  .delete-cert-wrapper{
    width: 100vw;
    padding: 10px;
  }
  input[type="text"]{
    background-color: var(--white);
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: none;
  }
  input[type="submit"], button{
    display: block;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: var(--primary);
    font-weight: 900;
    text-transform: capitalize;
  }
  .find-cert{
    width: 100%;
    max-width: 350px;
    border: 1px solid var(--primary);
    display: flex;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 4px;
    gap: 5px;
    margin: 30px auto;
  }
  .result .show-found-cert{
    background-color: var(--primary);
    width: 95%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px 10px;
  }
  .result .show-found-cert h3{
    border-radius: 5px;
    background-color: var(--white);
    color: var(--primary);
    margin-bottom: 8px;
    padding: 20px 10px 10px;
  }
  .result .show-found-cert h4{
    background-color: var(--white);
    color: var(--primary);
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 5px 10px;
  }

  .result .show-found-cert > button{
    background: var(--secondary-a);
    color: var(--white);
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .result .show-found-cert > span{
    font-size: var(--first-s);
    color: var(--white);
  }
  
}