main-section{
  display: flex;
  flex-direction: column;
  gap:10px;
  background-color: transparent;
}
main-section .container-wrapper{
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding-block: 20vh;
 padding-inline: min(30px, 5vw);
 justify-content: center;
 position: relative;
}
main-section .wrapper-1{
  background: url('/images/000028.jpg');
}
main-section .container-wrapper:nth-child(even)::after{
  content: '';
  position: absolute;
  inset: 0 auto auto 0;
  background: linear-gradient(to right, var(--darker), var(--primary));
  height: 100%;
  width: 100%;
  z-index: -1;
  transform: skewY(-6deg);
}
main-section .container-wrapper p{
  color: var(--black);
  font-family: alice;
}
main-section .container-wrapper:nth-child(even) p{
  color: var(--white);
}

.slideshow-wrapper{
    height: 230px;
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
  }
  .slideshow{
    margin: 0 auto;
    display: flex;
    height: 100%;
    overflow-x: auto;
    gap: 10px;
  }
  .slideshow-wrapper button{
    display: block;
    color: var(--black);
    background: none;
  }
  .slideshow-wrapper button *{
    width: 30px;
  }
  .slideshow-wrapper button.left{
    display: none;
  }