main-section{
  min-height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: url('/images/000045.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.form-eye-close, .form-eye-open{
  color: var(--primary);
  background-color: transparent;
  width: 33px;
  position: absolute;
  bottom: 5px;
  transform: scale(0.7);
  right: 7px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.state-active{
  display: block;
}
.other-contrs{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other-contrs a{
  color: var(--black);
  display: inline-block;
  margin-left: 5px;
}
.timeout{
  font-style: normal;
}
@media (min-width: 767px) {
}
.success, .failed{
  font-size: 0.8;
}
