main-section{
  display: block;
  width: 100vw;
  min-height: 80vh;
  overflow: hidden;
}

main-section.show{
  ul.ul-wrapper{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--first-s);
    border: 2px solid var(--primary);
    margin: 0 auto;
    letter-spacing: 1px;
  }
  summary{
    padding: 10px;
    cursor: pointer;
    letter-spacing: 1px;
    color: var(--primary);
  }
  details[open] summary{
    text-decoration: underline;
    color: var(--white);
  }
  details[open] summary:hover{
    color: var(--white);
  }
  summary:hover{
    color: var(--primary);
  }
  details ul{
    list-style: none;
    padding-left: 20px;
  }
  ul span.span-text{
    background-color: var(--primary);
    font-size: var(--third-s);
    color: var(--white);
    padding: 10px 20px;
  }
  details ul li{
    display: block;
    padding: 10px;
    line-height: normal;
    color: var(--white);
    font-size: var(--first-s);
  }
  details ul li b{
    font-size: var(--second-s);
    color: var(--primary);
  }
  @media (max-width: 767px) {
    ul.ul-wrapper{
      width: 90%;
      min-width: none;
    }
    
  }
  @media (min-width: 768px) {
    ul.ul-wrapper{
    width: fit-content;
    min-width: 600px;
    }
  }
}

main-section.add{
  input[type="text"]{
    background-color: var(--white);
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: 1px solid;
  }
  .partner-wrapper{
    margin: 20px;
  }
  input[type="submit"], button{
    display: block;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: var(--primary);
    font-weight: 900;
    text-transform: capitalize;
  }
  form.find-partner{
    width: 95%;
    max-width: 400px;
    margin: 20px auto;
    background-color: var(--primary);
    display: flex;
    padding: 10px 20px;
    gap: 10px;
  }
   .partner-form {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
  }
  .partner-form > span{
    margin-bottom: 5px;
  }
   .partner-form .approvals input{
    margin-bottom: 10px;
  }
   .partner-form h3{
    color: var(--primary);
  }
   label{
    display: block;
    margin-bottom: 20px;
  }
   label span{
    color: var(--primary);
  }
   label input{
    border: 1px solid;
  }
   button{
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    opacity: 0.8;
    margin-top: 100px;
    font-size: var(--first-s);
  }
   .add-more{
    display: block;
    padding: 10px 20px;
    background-color: var(--darker);
    color: var(--white);
    margin-bottom: 10px;
    width: fit-content;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    right: 10px;
  }
   button:hover, .add-more:hover{
    opacity: 0.8;
  }

}

main-section.edit, main-section.delete{
  input[type="text"]{
    background-color: var(--white);
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: none;
  }
  input[type="submit"], button{
    display: block;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: var(--primary);
    font-weight: 900;
    text-transform: capitalize;
  }
  form.find-partner{
    width: 95%;
    max-width: 400px;
    margin: 20px auto;
    background-color: var(--primary);
    display: flex;
    padding: 10px 20px;
    gap: 10px;
  }
  .result .partner-form {
    width: 95%;
    max-width: 500px;
    margin: 0 auto;
    background-color: var(--white);
    padding: 20px;
    margin-bottom: 40px;
    position: relative;
  }
  .result .partner-form .approvals input{
    margin-bottom: 10px;
  }
  .result .partner-form h3{
    color: var(--primary);
  }
  .result label{
    display: block;
    margin-bottom: 20px;
  }
  .result label span{
    color: var(--primary);
  }
  .result label input{
    border: 1px solid;
  }
  .result button{
    display: block;
    width: 90%;
    max-width: 300px;
    margin: 0 auto;
    background-color: var(--primary);
    color: var(--white);
    cursor: pointer;
    opacity: 0.8;
    margin-top: 100px;
    font-size: var(--first-s);
  }
  .result .add-more{
    display: block;
    padding: 10px 20px;
    background-color: var(--darker);
    color: var(--white);
    margin-bottom: 10px;
    width: fit-content;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
    right: 10px;
  }
  .result button:hover, .result .add-more:hover{
    opacity: 0.8;
  }

}

main-section.delete{
  .result .delete-wrapper{
    background-color: var(--primary);
    width: 95%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px 10px;
  }
  .result .delete-wrapper > h3{
    border-radius: 5px;
    background-color: var(--white);
    color: var(--primary);
    margin-bottom: 8px;
    padding: 20px 10px 10px;
  }
  .result .delete-wrapper > h4{
    background-color: var(--white);
    color: var(--primary);
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 5px 10px;
  }
  .result .delete-wrapper > span{
    font-size: var(--first-s);
    color: var(--white);
  }
  .result .delete-wrapper ol li{
    margin-bottom: 5px;
    font-size: var(--first-s);
    color: var(--white);
    text-transform: capitalize;
  }
  .result .delete-wrapper > button{
    background: var(--secondary-a);
    color: var(--white);
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
  }
}