main-section{
  display: block;
  width: 100vw;
  width: 100%;
  padding: 10px;
}
.profile-wrapper{
  width: 100%;
  padding: 20px 0;
  background-color: transparent;
}
.photo-tab{
  position: relative;
}
#profile-photo-editor{
  display: none;
}
.photo-chooser{
  position: absolute;
  top: -10px;
  margin: 0 auto;
  width: fit-content;
  left: 53%;
}
.profile-editor-icon{
  color: var(--white);
  width: 2rem;
  cursor: pointer;
}
.profile-image-tab .username, .profile-image-tab .student-number{
  display: block;
  color: var(--white);
  font-size: var(--first-s);
  text-transform: capitalize;
  opacity: 0.6;
  text-align: center;
  margin: 5px;
}
.profile-image-tab .student-number{
  font-size: var(--base-s);
  opacity: 0.4;
}
.profile-img, .profile-photo-icon{
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid var(--primary);
  padding: 5px;
  margin: 20px auto;
  cursor: pointer;
}
.main-page .title-bar{
  display: none;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 2px solid var(--darker);
}
.main-page .title-bar.active{
  display: flex;
}
.title-bar .back-button{
  width: 30px;
  height: 30px;
  color: var(--primary);
  cursor: pointer;
}
.title-bar .title{
  font-size: var(--third-s);
  text-transform: capitalize;
  color: var(--primary);
}
.view-profile-image{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  width: 100%;
  max-width: 400px;
  height: 300px;
  z-index: 1;
  background-color: var(--darker);
  padding: 0 20px;
  margin: 10px auto;
  transform: scale(0);
  transition: 0.1s ease-out;
}
.view-profile-image.active{
  transform: scale(1);
}
.close-photo-icon{
  position: absolute;
  right: 15px;
  top: 5px;
  width: 30px;
  color: var(--white);
  cursor: pointer;
}
.close-photo-icon:hover{
  opacity: 0.8;
}
.viewer-profile-img{
  height: 98%;
}
.account-item{
  display: none;
  .form-container{
    width: 90vw;
    max-width: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 2px;
    gap: 10px;
  }
  .form-container i{
    display: flex;
    align-items: center;
    background-color: var(--dark);
    color: var(--white);
    padding: 5px 20px;
    font-size: 0.9rem;
  }
  .form-container span{
    display: block;
    background: var(--white);
    color: var(--primary);
    padding: 10px 20px;
    font-size: var(--second-s);
    font-family: 'acolonica';
    border-radius: 3px;
  }
  .form-container label{
    position: relative;
    display: block;
    width: min(90%, 400px);
    margin-inline: auto;
    color: var(--primary);
  }
  .form-container input{
    font-size: var(--base-s);
    padding: 10px;
    display: block;
    width: 100%;
    background: none;
    border-radius: 6px;
    color: var(--white);
    border: 1px solid currentColor;
  }
  .form-container button{
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    font-size: var(--first-s);
    background: var(--white);
    color: var(--primary);
    border-radius: 30px;
    text-transform: capitalize;
    align-self: center;
  }
  input[disabled]{
    color: var(--white);
    background: none;
    border-radius: 8px;
    border: 1px solid currentColor;
  }
}
.form-eye-close, .form-eye-open{
  color: var(--primary);
  background-color: transparent;
  width: 33px;
  position: absolute;
  bottom: 6px;
  transform: scale(0.7);
  right: 7px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.state-active{
  display: block;
}
@media (max-width: 650px) {
  .profile-img{
    margin: 0 auto;
  cursor: pointer;
  }
  .main-page{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .profile-image-tab .username{
    color: var(--white);
    font-size: var(--first-s);
    text-transform: capitalize;
    opacity: 0.5;
  }
  .main-links{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    flex: 1;
    padding: 20px 0;
    transition: 0.2s ease-out;
  }
  .main-links.inactive{
    transform: translateX(calc(-100% - 20px));
  }
  .main-links > li, .main-links li ul li span, .main-links ul li a{
    display: flex;
    color: var(--white);
    opacity: 0.8;
    font-size: var(--first-s);
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 2px solid var(--darker);
    padding: 20px;
    text-decoration: none;
  }
  .main-links li ul li:last-child span, .main-links li:last-child{
    border: none;
  }
  .main-links > li:hover{
    color: var(--primary);
  }
  .main-links > li span{
    display: block;
  }
  .main-links > li > ul{
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    list-style-type: none;
    padding: 0;
    transition: 0.2s ease-out;
  }
  .main-links > li ul.active{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
  .main-links > li ul.inactive{
    transform: translateX(calc(-100% - 20px));
  }
  .main-links ul li a:hover{
    color: var(--primary);
  }

  .main-links ul li a{
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--dark);
    text-decoration: none;
  }
  .main-links ul li:last-child a{
    border-bottom: none;
  }
  .main-links li ul li div{
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    display: none;
  }
  .main-links li ul li div.active{
    display: flex;
  }
  .main-links li  ul li div.account-item{
    height: fit-content;
  }
}
@media (min-width: 651px) {
  .profile-wrapper{
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  .main-page{
    position: relative;
    width: min(35vw, 300px);
    border: 2px solid var(--darker);
    padding: 10px;
  }
  .main-page .title-bar{
    display: flex;
    position: absolute;
    left: calc(100% + 10px);
    top: 0;
    white-space: nowrap;
    border: none;
  }
  .title-bar .back-button{
    display: none;
  }
  .main-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
  }
  .main-links .default-active{
    display: flex;
  }
  .main-links > li span, .main-links ul li a{
    border-top: 1px solid var(--darker);
    cursor: pointer;
    padding: 10px;
    color: var(--white);
    opacity: 0.7;
    white-space: wrap;
  }
  .main-links > li > span{
    display: block;
  }
  .main-links li ul{
    display: none;
    position: absolute;
    list-style: none;
    left: calc(100% + 2px);
    border-top: 2px solid var(--darker);
    width: calc(100vw - min(35vw, 300px));
    white-space: nowrap;
    top: -2px;
    padding: 20px;
    padding-top: 60px;
    flex-direction: column;
  }
  .main-links li ul.active{
    display: flex;
    gap: 2px;
  }
  .main-links .wrapper{
    min-width: 100%;
    height: fit-content;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  .main-links ul li span:hover, .main-links ul li a:hover{
    color: var(--primary);
  }
  .main-links ul li span{
    display: inline-block;
    width: fit-content;
    box-shadow: 0 0 2px var(--dark);
    padding: 5px 8px;
    background-color: var(--dark);
    margin: none;
    text-transform: capitalize;
  }
  .main-links ul li a{
    display: block;
    width: 100%;
    text-decoration: none;
  }
  .main-links ul li:last-child a{
    border-bottom: none;
  }
  .main-links li  ul li div.account-item{
    height: fit-content;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translateX(-50%);
    display: none;
    padding: 0;
    & *{
      margin: 0;
    }
  }
  .main-links li ul li div.account-item.active{
    display: flex;
  }
}