main-section{
  background: var(--dark);
}
main-section.region{}
main-section.password{
  .form-eye-close, .form-eye-open{
    color: var(--third);
    background-color: transparent;
    width: 33px;
    position: absolute;
    top: 0;
    transform: scale(0.7);
    right: 7px;
    cursor: pointer;
    z-index: 1;
    display: none;
  }
  .state-active{
    display: block;
  }
}
main-section.password,main-section.email, main-section.username, main-section.phone{
  .page-wrapper{
    width: 100%;
  }
  .page-wrapper .form-container{
    width: 90%;
    max-width: 450px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 2px;
    gap: 10px;
  }
  .page-wrapper .form-container span{
    display: block;
    background: var(--first);
    color: var(--third);
    padding: 10px 20px;
    width: fit-content;
    font-family: 'acolonica';
    border-radius: 20px;
  }
  .page-wrapper .form-container label{
    position: relative;
    display: block;
    width: 100%;
  }
  .page-wrapper .form-container input{
    font-size: var(--first-s);
    padding: 5px 10px;
    display: block;
    width: 100%;
    border-radius: 4px;
  }
  .page-wrapper .form-container button{
    padding: 10px 20px;
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    font-size: var(--second-s);
    background: var(--first);
    color: var(--third);
    border-radius: 30px;
    text-transform: capitalize;
  }
}