.main-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 20px;
  max-width: 500px;
  margin: 10px auto 10px auto;
}
.main-wrapper .cert-add-form{
  background-color: var(--third);
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 50px 20px;
  }
  .cert-add-form span:first-child{
    display: block;
    padding: 10px 20px;
    background: var(--first);
    color: var(--third);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 18px;
  }
  .cert-add-form label{
    display: flex;
    column-gap: 10px;
    width: 100%;
    color: var(--first);
  }
  .cert-add-form label input{
    flex: 1;
    width: 100%;
    background: none;
    border: none;
    border-bottom: 3px dotted;
    font-size: 18px;
  }
  .cert-add-form label input:focus{
    outline: none;
    color: var(--fourth);
  }
  .cert-add-form > input{
    background: var(--first);
    display: block;
    padding: 5px 10px;
    color: var(--third);
    border-radius: 10px;
    font-size: 17px;
    border: 1px var(--first);
    cursor: pointer;
  }
  .add-success, .add-fail{
    display: block;
    margin: 20px auto;
    background: var(--third);
    text-align: center;
    padding: 10px;
    color: var(--first);
  }
  .add-fail {
    background: var(--sixth);
  }
  @media (max-width:550px){
    .cert-add-form{
      width: calc(100% -20px);
      margin: 0 auto;
    }
  }