@font-face {
  font-family: poppins-regular;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: alice;
  src: url('../fonts/Alice/Alice-Regular.ttf');
}
@font-face {
  font-family: acolonica;
  src: url('../fonts/Aclonica/Aclonica-Regular.ttf');
}
:root{
  --first: white;
  --second: black;
  --third: green;
  --fifth: blue;
  --sixth: tomato;
  --white: white;
  --black: black;
  --darker: rgba(0, 0, 0, 0.829);
  --dark: rgba(0, 0, 0, 0.808);

  --first-s: 0.9rem;
  --second-s: 1.1rem;
  --third-s: 1.3rem;
  --fourth-s: 1.5rem;
  --fifth-s: 2rem;
  --sixth-s: 5rem; 

  --first-m: 10px;
  --second-m: 20px;
  --third-m: 50px;
  --fourth-m: 100px;
}
*{
  box-sizing: border-box;
  font-family: poppins-regular;
}
svg{
  opacity: 0;
}
h3{
  font-family: acolonica;
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 20px;
  min-height: 100dvh;
  width: 100dvw;
  user-select: none;
  overflow-x: hidden;
}
nav{
  width: 100dvw;
  background-color: var(--first);
  display: flex;
  padding: 0 1%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid var(--dark);
}
nav .logo-container{
  display: flex;
  align-items: center;
}
nav .logo-container .logo-text{
  font-size: 1.3rem;
  color: var(--third);
  font-family: acolonica;
  position: relative;
  top: 3px;
}
nav .logo-container .logo{
  width: 50px;
}
nav .auth-contrs{
  display: flex;
  align-items: center;
  gap: 10px
}
nav .auth-contrs a{
  display: block;
  text-decoration: none;
  color: var(--second);
  padding: 10px;
  font-size: 0.9rem;
}
nav .auth-contrs a.auth-login{
  font-size: 1rem;
}
nav .auth-contrs a.auth-login:hover{
  color: var(--first);
  background: var(--second);
}
nav .auth-contrs a.auth-signup{
  color: var(--first);
  background: var(--third);
  border-radius: 5px;
}
nav .auth-contrs a.auth-signup:hover{
  background: var(--second);
}
nav .auth-contrs a.auth-logout{
  color: var(--first);
  background: var(--sixth);
  border-radius: 5px;
  margin-left: 10px;
}
nav .auth-contrs a.auth-logout:hover{
  background: var(--second);
}
header{
  margin: 2px;
  margin-top: 55px;
}
header .main-menu{
  position: relative;
}
header .main-menu ul li.menu-item > a:hover, .main-menu ul li ul li a:hover, .course-list-button:hover{
  color: var(--first)!important;
  background-color: var(--third);
}
header .main-menu .course-list-menu{
  background-color: var(--first);
}
@media (max-width: 550px){
  header{
    border: 2px solid var(--third);
     padding: 5px 10px;
  }
header .main-menu span.menu-button{
    display: block;
    width: fit-content;
    padding: 3px 7px;
    border: 1px solid var(--third);
    cursor: pointer;
  }
  header .main-menu .menu-button-icon{
    fill: var(--third);
    width: 20px; 
    position: relative;
    top: 3px;
  }
header .main-menu ul.menu-list{
  background-color: var(--first);
  border: 1px solid;
  position: absolute;
  top: 100%;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  display: none;
}
header .main-menu ul li.menu-item > a, .course-list-button{
  border-top: 1px solid;
  display: block;
  padding: 10px 80px 10px 20px;
  text-decoration: none;
  color: var(--second);
  cursor: pointer;
}
header .main-menu ul li:first-child > a{
  border-top: none;
}
header .main-menu ul li ul{
  padding: 0;
  list-style-type: none;
  display: none;
}
header .main-menu ul li ul li.course-item > a{
  display: block;
  border-top: 1px solid;
  padding: 10px 80px 10px 60px;
  text-decoration: none;
  color: var(--second);
}
header .main-menu ul li ul li.course-item:first-child > a{
  border-top: 2px solid;
}
header .main-menu ul li ul li.course-item:last-child > a{
  border-bottom: 1px solid;
}
}
@media (min-width: 768px){
  header{
    border-bottom: 1px solid var(--third);
    width: 100dvw;
    margin-top: 10px;
  }
  .menu-button{
    display: none;
  }
header .main-menu ul.menu-list{
  display: flex!important;
  position: relative;
  bottom: -15px;
  list-style-type: none;
  padding: 0;
  text-transform: uppercase;
  font-size: 0.8rem;
}
header .main-menu ul li.menu-item > a, .course-list-button{
  display: block;
  padding: 10px;
  text-decoration: none;
  color: var(--second);
  cursor: pointer;
}
header .main-menu ul li ul{
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 100%;
  border: 1px solid;
  display: none;
}
header .main-menu ul li ul li.course-item > a{
  display: block;
  border-top: 1px solid;
  padding: 10px 120px 10px 20px;
  text-decoration: none;
  color: var(--second);
}
}
main-section{
  flex: 1;
}
footer{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--darker);
  padding: 50px 3% 100px 3%;
}
.footer-container{
  flex: 1;
  max-width: 200px;
  padding: 10px;
}
.footer-container a{
  display: block;
  max-width: fit-content;
  text-decoration: none;
  color: var(--white);
  font-size: var(--second-s);
  font-family: poppins-regular;
}
.footer-container a:hover{
  text-decoration: underline;
}
.footer-container span{
  font-family: acolonica;
  color: var(--third);
  font-size: var(--second-s);
}
.footer-container .twitter-icon, .whatsapp-icon{
  width: calc(var(--second-m) + var(--first-m));
}
.footer-container .twitter-link{
  position: fixed;
  right: 0;
  bottom: 50dvh;
  padding: 10px;
  background-color: var(--first);
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  display: flex;
  opacity: 0.8;
  transition: 0.3s;
}
.footer-container .twitter-link:hover{
  border-radius: 5px;
}
.footer-container .twitter-link1{
  display: flex;
  align-items: center;
}
.twitter-link1 .twitter-icon, .mail-icon{
  width: var(--second-m);
  margin-right: 10px;
}
.whatsapp-link{
  position: fixed;
  padding: 10px;
  right: 0;
  bottom: calc(50dvh + 70px);
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  opacity: 0.8;
  background-color: var(--first);

}
.whatsapp-link1{
display: flex;
align-items: baseline;
}
.whatsapp-link1 .whatsapp-icon{
  color: rgb(2, 199, 2);
  position: relative;
  top: 8px;
  left: -5px;
}
.whatsapp-icon{
  color: var(--third);
}
.mail-link{
  position: fixed;
  right: 0;
  bottom: calc(50dvh - 70px);
  padding: 10px;
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  display: flex;
  opacity: 0.8;
  background-color: var(--first); 
}
.mail-link .mail-icon{
  transform: scale(1.5);
  position: relative;
  color: var(--sixth);
  top: 5px;
  left: 5px;
}
.mail-link1 {
  margin-top: 10px;
}
.mail-link1 .mail-icon{
  transform: scale(1.5);
  position: relative;
  top: 3px;
  color: var(--sixth);
}
.date-container{
  width: 100%; 
  text-align: center;
  color: var(--third);
  font-size: var(--third-s);
  text-transform: uppercase;
}
svg{
  opacity: 1;
}