@font-face {
  font-family: poppins-regular;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: alice;
  src: url('../fonts/Alice/Alice-Regular.ttf');
}
@font-face {
  font-family: acolonica;
  src: url('../fonts/Aclonica/Aclonica-Regular.ttf');
}
:root{
  --first: white;
  --second: black;
  --third: green;
  --fourth: purple;
  --fifth: blue;
  --sixth: tomato;
  --white: white;
  --black: black;
  --darker: rgba(0, 0, 0, 0.829);
  --dark: rgba(0, 0, 0, 0.808);

  --first-s: 0.9rem;
  --second-s: 1.1rem;
  --third-s: 1.3rem;
  --fourth-s: 1.5rem;
  --fifth-s: 2rem;
  --sixth-s: 5rem; 

  --first-m: 10px;
  --second-m: 20px;
  --third-m: 50px;
  --fourth-m: 100px;
}
*{
  box-sizing: border-box;
  font-family: poppins-regular;
}
svg{
  opacity: 0;
}
.logo{
  display: flex;
  align-items: end;
  width: 50px;
  height: 50px;
  background-image: url('../images/logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  left: 81px;
  text-decoration: none;

}
.logo::after{
  content: "GIsm";
  position: relative;
  right: 85px;
  font-family: 'acolonica';
  color: var(--third);
  font-size: var(--fifth-s);
}
h3{
  font-family: acolonica;
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 60px;
  min-height: 100dvh;
  width: 100dvw;
  user-select: none;
  overflow-x: hidden;
}
.translatex{
  transform: translateX(0);
}
nav{
  width: 100%;
  height: fit-content;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  background-color: var(--white);
  color: var(--black);
  font-size: var(--second-s);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 1px 2px var(--black);
  z-index: 999;
  
}
nav .right-nav-controls{
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-right: 20px;
}
nav .right-nav-controls label{
  cursor: pointer;
}
nav .right-nav-controls label #cart-button-checkbox{
  display: none;
}
nav .right-nav-controls .auth-button{
  padding: 3px;
  height: fit-content;
  max-height: fit-content;
  max-width: fit-content;
  border-radius: 2px;
  border: 1px solid var(--black);
  display: flex;
  column-gap: 3px;
}
.right-nav-controls .auth-button a, a.auth-out{
  padding: 5px 8px;
  border: 1px solid none;
  text-decoration: none;
  font-family: alice;
}
.auth-button a.auth-in{
  background-color: var(--third);
  color: var(--white);
}
.auth-button a.auth-join{
  color: var(--black);
}
.auth-button a.auth-join:hover{
  color: var(--white);
  background-color: var(--black);
}
a.auth-out{
  background-color: var(--sixth);
  color: var(--white);
}
.cart-button-icon{
  width: 30px;
  height: 30px;
  color: var(--third);
}
nav .cart-form{
  position: fixed;
  z-index: 999;
  width: 90dvw;
  right: 0;
  top: 50px;
  bottom: 2px;
  max-width: 500px;
  background-color: var(--first);
  box-shadow: -1px 0 2px var(--fourth);
  transform: translateX(calc(100% + var(--fourth-s)));
  transition: 0.2s;
  display: flex;
  flex-direction: column;
}
.cart-form.active{
  transform: translateX(0);
}
nav .cart-list{
  flex: 1;
  padding: 20px;
}
nav .cart-controls{
width: 100%;
padding: 1px;
display: grid;
grid-template-columns: repeat(2, 1fr);
}
nav .cart-controls button{
  padding: 10px;
  border-radius: 4px;
  color: var(--white);
  font-size: var(--second-s);
  border: 1px solid currentColor;
  cursor: pointer;
}
nav .cart-close{
  background-color: var(--sixth);
}
nav .cart-checkout{
  background-color: var(--fourth);
}
header{
  display: flex;
  align-items: flex-end;
  padding: 10px 20px;
  margin-top: var(--first-m);
  column-gap: 15px;
  z-index: 1;
}
header{
  width: 100%;
  max-width: 100%;
}
header form{
  display: flex;
  align-items: flex-end;
  width: 60%;
  max-width: 350px;
  margin-right: 25px;
  flex: 1;
}
header .search-course-box{
width: 100%;
  border: none;
  border-bottom: 2px solid var(--third);
  font-size: var(--second-s);
  text-transform: capitalize;
  padding-bottom: 10px;
  flex: 1;
}
header .search-course-box:focus{
  outline: none;
  border-bottom: 2px dotted var(--third);
}
header .search-course-box:focus +*{
  border-bottom: 2px dotted var(--third);
  margin-left: 1px;
}
header form button{
  border: none; 
  outline: none;
  background: none;
  border-bottom: 2px solid var(--third);
  padding: 0 10px 10px 5px;
  cursor: pointer;
}
header form button *{
  display: block;
}
header form button .ch1{
  width: var(--second-m);
  height: var(--second-m);
  border: 2px solid var(--third);
  position: relative;
  border-radius: 100%;
}
header form button .ch2{
  height: var(--first-m);
  width: 2px;
  background-color: var(--third);
  position: absolute;
  bottom: -8px;
  right: -5px;
  transform: rotate(-50deg);
}
main-section{
  flex: 1;
}
footer{
  display: flex;
  background-color: var(--darker);
  padding: 50px 3% 100px 3%;
}
.footer-container{
  flex: 1;
  max-width: 200px;
  padding: 10px;
}
.footer-container a{
  display: block;
  max-width: fit-content;
  text-decoration: none;
  color: var(--white);
  font-size: var(--second-s);
  font-family: poppins-regular;
}
.footer-container a:hover{
  text-decoration: underline;
}
.footer-container span{
  font-family: acolonica;
  color: var(--third);
  font-size: var(--second-s);
}
.footer-container .twitter-icon, .whatsapp-icon{
  width: calc(var(--second-m) + var(--first-m));
}
.footer-container .twitter-link{
  position: fixed;
  right: 0;
  bottom: 50dvh;
  padding: 10px;
  background-color: white;
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  display: flex;
  opacity: 0.8;
  transition: 0.3s;
}
.footer-container .twitter-link:hover{
  border-radius: 5px;
}
.footer-container .twitter-link1{
  display: flex;
  align-items: center;
}
.twitter-link1 .twitter-icon, .mail-icon{
  width: var(--second-m);
  margin-right: 10px;
}
.whatsapp-link{
  position: fixed;
  padding: 10px;
  right: 0;
  bottom: calc(50dvh + 70px);
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  opacity: 0.8;
  background-color: white;

}
.whatsapp-link1{
display: flex;
align-items: baseline;
}
.whatsapp-link1 .whatsapp-icon{
  color: rgb(2, 199, 2);
  position: relative;
  top: 8px;
  left: -5px;
}
.whatsapp-icon{
  color: green;
}
.mail-link{
  position: fixed;
  right: 0;
  bottom: calc(50dvh - 70px);
  padding: 10px;
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  display: flex;
  opacity: 0.8;
  background-color: white; 
}
.mail-link .mail-icon{
  transform: scale(1.5);
  position: relative;
  color: red;
  top: 5px;
  left: 5px;
}
.mail-link1 {
  margin-top: 10px;
}
.mail-link1 .mail-icon{
  transform: scale(1.5);
  position: relative;
  top: 3px;
  color: red;
}
@media (max-width: 767px) {
  ul.courses-categories{
    list-style: none;
    padding: 5px 20px;
    background-color: var(--first);
    transform: scaleY(0);
    height: 0;
    transition: 0.2s;
  }
  ul.courses-categories.active{
    height: fit-content;
    transform: scaleY(1);
    box-shadow: inset 0 0 5px var(--black);
  }
  
  ul.courses-categories li a{
    display: block;
    width: 100%;
    min-width: 100%;
    background-color: var(--first);
    padding: 5px 10px;
  }
  .main-menu{
  position: relative;
  width: fit-content;
}
.menu-button-icon{
margin-top: 5px;
  width: 22px;
  height: 22px;
  z-index: 1;
}
.menu-button{
  position: relative;
  top: 10px;
  font-size: var(--third-s);
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
}
.menu-button:hover{
  box-shadow: none;
}
.menu{
  position: absolute;
  top: calc(100% + 5px);
  left: 0px;
  display: none;
  width: 90dvw;
  max-width: 350px;
  padding: 0;
  list-style: none;
  border: none;
  font-size: var(--first-s);
  background-color: var(--first);
  box-shadow: 0 0 2px var(--black);
  z-index: 1;
}
.menu.active{
  display: block;
}
.menu li{
  border-bottom: 1px solid;
}
.menu li:last-child{
  border: none;
}
.menu-item a{
  display: block;
  color: var(--second);
  text-decoration: none;
  background-color: var(--first);
  width: 250px;
  padding: 10px 0 10px 20px; 
}
.menu-item span{
  display: block;
  min-width: 100%;
  min-height: 100%;
  padding: 5px 0 5px 20px;
  cursor: pointer;
} 
}
@media (min-width: 768px) {
  body{
    padding-top: 0;
    border-top: 10px solid transparent;
  }
.menu-button{
  display: none;
}
.menu{
  position: relative;
  top: 15px;
  display: flex;
  padding: 0;
  list-style: none;
  border: none;
  font-size: var(--first-s);
  background-color: var(--first);
  z-index: 1;
}
.menu li{
  border-bottom: 2px solid;
  margin-right: 1px;
}
.menu .menu-item:hover > *{
  background-color: var(--third);
  color: var(--white);
}
.menu-item a{
  display: inline-flex;
  color: var(--second);
  text-decoration: none;
  background-color: var(--first);
  width: max-content;
  padding: 10px; 
}
.menu-item span{
  position: relative;
  display: inline-flex;
  padding: 10px;
  cursor: pointer;
} 
ul.courses-categories{
  display: none;
}
ul.courses-categories.active{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  list-style: none;
  padding: 0px;
  width: max-content;
  height: fit-content;
  transition: 0.2s;
}

ul.courses-categories li a{
  display: block;
  border: 5px solid transparent;
  width: 100%;
  min-width: 100%;
  background-color: var(--first);
  padding: 5px 10px;
}
ul.courses-categories li a:hover{
  background-color: var(--third);
  color: var(--white);
}
}
svg{
  opacity: 1;
}