@font-face {
  font-family: poppins-regular;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: alice;
  src: url('../fonts/Alice/Alice-Regular.ttf');
}
@font-face {
  font-family: acolonica;
  src: url('../fonts/Aclonica/Aclonica-Regular.ttf');
}
:root{
  --first: white;
  --second: black;
  --third: green;
  --fourth: yellow;
  --fifth: blue;
  --sixth: tomato;
  --white: white;
  --black: black;
  --darker: rgba(0, 0, 0, 0.829);
  --dark: rgba(0, 0, 0, 0.808);

  --first-s: 0.9rem;
  --second-s: 1.1rem;
  --third-s: 1.3rem;
  --fourth-s: 1.5rem;
  --fifth-s: 2rem;
  --sixth-s: 5rem; 

  --first-m: 10px;
  --second-m: 20px;
  --third-m: 50px;
  --fourth-m: 100px;
}
*{
  box-sizing: border-box;
  font-family: poppins-regular;
}
svg{
  opacity: 0;
}
h3{
  font-family: acolonica;
}
body{
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 57px;
  min-height: 100dvh;
  width: 100dvw;
  user-select: none;
  overflow: hidden;
  overflow-y: auto;
}
nav{
  width: 100dvw;
  background-color: var(--first);
  display: flex;
  padding: 0 1%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--dark);
}
nav .logo-container{
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav .logo-container .logo-text{
  font-size: 1.3rem;
  color: var(--third);
  font-family: acolonica;
  position: relative;
  top: 3px;
}
nav .logo-container .logo{
  width: 50px;
}
nav .auth-contrs{
  display: flex;
  align-items: center;
  gap: 10px
}
nav .auth-contrs a{
  display: block;
  text-decoration: none;
  color: var(--second);
  padding: 10px;
  font-size: 0.9rem;
}
nav .auth-contrs a.auth-login{
  font-size: 1rem;
}
nav .auth-contrs a.auth-login:hover{
  color: var(--first);
  background: var(--second);
}
nav .auth-contrs a.auth-signup{
  color: var(--first);
  background: var(--third);
  border-radius: 5px;
}
nav .auth-contrs a.auth-signup:hover{
  background: var(--second);
}
nav .auth-contrs a .user-line-icon{
  width: 40px;
  height: 40px;
  color: var(--darker);
  border: 2px solid currentColor;
  border-radius: 100%;
}
nav .auth-contrs a .user-line-icon:hover{
  color: var(--third);
}
header .main-menu{
  position: relative;
  z-index: 99;
  margin: 20px;
}
header .main-menu ul li.menu-item > a:hover, .main-menu ul li ul li a:hover, .course-list-button:hover{
  color: var(--first)!important;
  background-color: var(--third);
}
header .main-menu .course-list-menu{
  background-color: var(--first);
}
@media (max-width: 767px){
  header{
    border: 2px solid var(--third);
    padding: 5px 10px;
    background-color: var(--third);
  }
  header .main-menu{
    padding: 0;
    margin: 0;
  }
  header .main-menu span.menu-button{
    display: block;
    width: fit-content;
    padding: 3px 7px;
    border: 1px solid var(--first);
    cursor: pointer;
    color: var(--first)
  }
  header .main-menu .menu-button-icon{
    width: 20px; 
    position: relative;
    top: 3px;
  }
  header .main-menu ul.menu-list{
    width: calc(100dvw - 33px);
    background-color: var(--first);
    border: 1px solid var(--third);
    position: absolute;
    top: calc(100% - 10px);
    left: 5px;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
    display: none;
  }
  header .main-menu ul li.menu-item > a, .course-list-button{
    border-top: 1px solid var(--third);
    display: block;
    padding: 10px 5px;
    text-decoration: none;
    color: var(--second);
    cursor: pointer;
  }
  header .main-menu ul li:first-child > a{
    border-top: none;
  }
  header .main-menu ul li ul{
    padding: 0;
    list-style-type: none;
    display: none;
  }
  header .main-menu ul li ul li.course-item > a{
    display: block;
    border-top: 1px solid var(--third);
    padding: 5px 5px 5px 15px;
    text-decoration: none;
    color: var(--second);
  }
}
@media (min-width: 768px){
  header{
    display: flex;
    border: 2px solid var(--third);
    padding: 0;
    background-color: var(--third);
  }
  .menu-button{
    display: none;
  }
  header .main-menu{
    padding: 0;
    margin: 0;
  }
  header .main-menu ul.menu-list{
    display: flex!important;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    list-style: none;
    font-size: var(--first-s);
  }
  header .main-menu ul li.menu-item > a, .course-list-button{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--white);
    cursor: pointer;
    box-shadow: 0 0 1px var(--dark);
    opacity: 0.8;
    transition: 0.2s ease-out;
  }
  header .main-menu ul li.menu-item > a:hover, .course-list-button:hover{
    box-shadow: 0 5px 10px var(--darker);
    opacity: 1;
  }

  header .main-menu ul li ul{
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 100%;
    border: 1px solid;
    display: none;
  }
  header .main-menu ul li ul li.course-item > a{
    display: block;
    border-top: 1px solid;
    padding: 10px 120px 10px 20px;
    text-decoration: none;
    color: var(--second);
  }
}
main-section{
  flex: 1;
}
footer{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--darker);
  padding: 30px 3% 20px 3%;
}
footer .loader{
  width: 100dvw;
  height: calc(100dvh - 57px);
  background-color: var(--dark);
  z-index: 1000;
  position: fixed;
  top: 57px;
  left: 0;
  transform: scale(0);
  transition: 0.2s ease-out;
}
footer .loader.active{
  transform: scale(1);
}
.footer-container{
  flex: 1;
  max-width: 200px;
  min-width: fit-content;
  padding: 10px;
}

.footer-container a{
  display: block;
  max-width: fit-content;
  text-decoration: none;
  color: var(--white);
  font-size: var(--second-s);
  font-family: poppins-regular;
}
.footer-container a:hover{
  text-decoration: underline;
}
.footer-container span{
  font-family: acolonica;
  color: var(--third);
  font-size: var(--second-s);
}
.footer-container .twitter-icon, .whatsapp-icon{
  width: calc(var(--second-m) + var(--first-m));
}
.footer-container .twitter-link{
  position: fixed;
  right: 0;
  bottom: 50dvh;
  padding: 10px;
  background-color: var(--first);
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  display: flex;
  opacity: 0.8;
  transition: 0.3s;
}
.footer-container .twitter-link:hover{
  border-radius: 5px;
}
.footer-container .twitter-link1{
  display: flex;
  align-items: center;
}
.twitter-link1 .twitter-icon, .mail-icon{
  width: var(--second-m);
  margin-right: 10px;
}
.whatsapp-link{
  position: fixed;
  padding: 10px;
  right: 0;
  bottom: calc(50dvh + 70px);
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  opacity: 0.8;
  background-color: var(--first);

}
.whatsapp-link1{
display: flex;
align-items: baseline;
}
.whatsapp-link1 .whatsapp-icon{
  color: rgb(2, 199, 2);
  position: relative;
  top: 8px;
  left: -5px;
}
.whatsapp-icon{
  color: var(--third);
}
.mail-link{
  position: fixed;
  right: 0;
  bottom: calc(50dvh - 70px);
  padding: 10px;
  box-shadow: -2px 0 3px var(--darker);
  color: var(--darker);
  display: flex;
  opacity: 0.8;
  background-color: var(--first); 
}
.mail-link .mail-icon{
  transform: scale(1.5);
  position: relative;
  color: var(--sixth);
  top: 5px;
  left: 5px;
}
.mail-link1 {
  margin-top: 10px;
}
.mail-link1 .mail-icon{
  transform: scale(1.5);
  position: relative;
  top: 3px;
  color: var(--sixth);
}
.date-container{
  width: 100%; 
  text-align: center;
  color: var(--third);
  margin-top: 30px;
  font-size: var(--second-s);
  text-transform: uppercase;
}
svg{
  opacity: 1;
}
button{
  cursor: pointer;
  opacity: 1;
  border: none;
}
button:hover{
  opacity: 0.8;
}
span.failed, span.success{
  display: block;
  background-color: var(--sixth);
  color: var(--white)!important;
  width: 90%;
  max-width: 400px;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
  text-transform: uppercase;
  font-size: var(--second-s);
}

span.success{
  background-color: var(--third);
}
.prompt-dialog{
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  background-color: var(--white);
  padding: 10px 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  transform: scale(0);
  text-align: center;
  transition: 0.3s ease-in;
  width: 90%;
  max-width: 400px;
}
.prompt-dialog.active{
  transform: scale(1) translate(-50%, -50%);
}
.prompt-dialog span .confirm{
  color: var(--sixth);
}
.prompt-dialog span{
  margin-bottom: 15px;
}
.prompt-dialog input{
  border: 1px solid var(--sixth)!important;
}
.prompt-dialog button{
  border: 1px solid;
  margin: 20px auto;
}
.prompt-dialog button.confirm-delete{
  color: var(--white);
  background-color: var(--sixth);
  border: 1px solid currentColor;
}
.prompt-dialog button.confirm-delete:hover{
  border-radius: 10px;
}
.prompt-dialog{
  margin: 0;
}
.prompt-dialog button.deny-delete{
  color: var(--sixth);
  background-color: var(--white);
  border: 1px solid currentColor;
}
.prompt-dialog button.deny-delete:hover{
  color: var(--white);
  background-color: var(--sixth);
  border: 1px solid currentColor;
}