.contact-page-wrapper{
  width: 100dvw;
  background-color: var(--dark);
  color: var(--white);
  padding: 10px;
}
.contact-page-wrapper .social-media{
  width: fit-content;
  margin: 10px auto;
}
.contact-page-wrapper .social-media p{
  display: flex;
  gap: 20px;
}
.contact-page-wrapper .social-media p a{
  display: inline-flex;
  align-items: center;
  box-shadow: 0 0 2px  var(--black);
  height: fit-content;
  padding: 10px;
  color: var(--primary);
  text-decoration: none;
  color: var(--black);
  background-color: var(--white);
}
.contact-page-wrapper .social-media p a .twitter-icon{
  height: 30px;
  color: var(--black);
}
.contact-page-wrapper .social-media p a .whatsapp-icon{
  position: relative;
  top: 0;
}
.contact-page-wrapper > span{
  display: block;
  font-weight: 900;
  font-size: 1.5rem;
  width: fit-content;
  margin: 20px auto;
} 
.contact-page-wrapper .email-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 450px;
  margin: auto;
  border: 2px solid;
  padding: 20px 20px 70px 20px;
  background-color: var(--white);
}
.email-form h3{
  width: fit-content;
  margin: 0 auto;
  color: var(--black);
  font-size: 1.3rem;
}
.email-form label{
  display: flex;
  gap: 5px;
  flex-direction: column;
  color: var(--secondary-a);
}
.email-form label span{
  font-weight: 500;
  font-size: 1.1rem;
}
.email-form label input{
  width: 100%;
  padding: 10px;
}
.email-form label:last-child textarea{
  height: fit-content;
 min-height: 100px;
 resize: none;
}
.email-form button{
  padding: 10px;
  background: var(--primary);
  color: var(--white);
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
}
.result{
  position: fixed;
  z-index: 1001;
  width: 100dvw;
  height: 100dvh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--darker);
  transform: scale(0);
  transition: 0.2s ease-out;
}
.result.active{
  transform: scale(1);
}
.mail-delivered{
  width: 30px;
  color: var(--white);
}
.result .mail-sent, .mail-not-sent{
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: 4% 7%;
  border-radius: 10px;
}
.result .mail-sent span.text, .mail-not-sent span.text{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.result .mail-sent span.text span, .mail-not-sent span.text span{
  color: var(--secondary-a);
  font-weight: 500;
  font-size: var(--second-s);
  font-family: acolonica;
}
.result button{
  display: block;
  padding: 10px;
  cursor: pointer;
}
