.contact-page-wrapper{
  width: 100dvw;
}
.contact-page-wrapper .social-media{
  width: fit-content;
  margin: 10px auto;
}
.contact-page-wrapper .social-media p{
  display: flex;
  gap: 20px;
}
.contact-page-wrapper .social-media p a{
  display: inline-flex;
  align-items: center;
  box-shadow: 0 0 2px  var(--second);
  height: fit-content;
  padding: 10px;
  color: var(--third);
  text-decoration: none;
  color: var(--second);
}
.contact-page-wrapper .social-media p a .twitter-icon{
  height: 30px;
  color: var(--second);
}
.contact-page-wrapper .social-media p a .whatsapp-icon{
  position: relative;
  top: 0;
}
.contact-page-wrapper > span{
  display: block;
  font-weight: 900;
  font-size: 1.5rem;
  width: fit-content;
  margin: 20px auto;
} 
.contact-page-wrapper .email-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  max-width: 350px;
  margin: auto;
  border: 2px solid;
  padding: 30px 20px 70px 20px;
}
.email-form h3{
  width: fit-content;
  margin: 0 auto;
  font-size: 1.3rem;
}
.email-form label{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.email-form label span{
  font-weight: 500;
  font-size: 1.1rem;
}
.email-form label input{
  width: 100%;
  padding: 10px;
}
.email-form label:last-child textarea{
  height: fit-content;
 min-height: 100px;
 resize: none;
}
.email-form button{
  padding: 10px;
  background: var(--third);
  color: var(--first);
  border: none;
  font-size: 1.1rem;
}