main-section.show{
  .content-wrapper{
    color: var(--white);
    padding: 20px 4%;
    letter-spacing: 0.03rem;
    line-height: 2rem;
  }
  .alt-navbar{
    text-align: center;
    padding: 10px 0;
    text-align: center;
  }
  .next-tab{
    margin-bottom: 50px;
  }
  .next-tab .proceed-btn{
    cursor: pointer;
    padding: 7px 25px;
    color: var(--white);
    font-size: var(--second-s);
    background-color: var(--primary);
    height: fit-content;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.2s ease;
  }
  .next-tab .proceed-btn:hover{
    border-radius: 15px;
  }
  ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  ul li{
    list-style-type: disc;
  }
  ul li::marker{
    color: var(--primary);
  }
  b{
    display: inline-block;
    font-size: var(--first-s);
    margin-right: 10px;
    color: var(--secondary-a);
    font-family: alice;
    text-transform: uppercase;
  }
  p.course-overview{
  }
  p.course-overview::first-letter{
    font-size: var(--fourth-s);
    color: var(--secondary-a);
  }
  h3{
    color: var(--secondary-a);
  }
  h3.topic{
    color: var(--primary);
    font-size: var(--third-s);
  }
}

main-section.add{
  .forms-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 50px auto 10px auto;
  }
  form.form{
    display: none;
  }
    form.form.active{
      background: var(--primary);
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    form span.form-title{
      display: block;
      padding: 10px 20px;
      background: var(--white);
      color: var(--primary);
      font-weight: 800;
    }
    form input, .back-button{
      padding: 10px 20px;
    }
    .back-button{
      display: block;
      background: var(--secondary-a);
      color: var(--white);
      text-align: center;
      font-weight: 300;
    }
    .form span.add-more{
      display: block;
      width: fit-content;
      align-self: end;
      border: 1px solid var(--primary);
      background: var(--black);
      padding: 5px 10px;
      color: var(--white);
      border-radius: 5px;
      font-size: 13px;
    }
    #result span{
      display: block;
      border: 1px solid currentColor;
      padding: 10px;
      text-align: center;
      max-width: 450px;
      margin: 10px auto;
      color: var(--white);
      border-radius: 4px;
    }
    #result span.fail{
      background-color: var(--secondary-a);
    }
    #result span.success{
      background-color: var(--primary);
    }
  .prompt-dialog.active{
    transform: scale(1) translate(-50%, -50%);
  }
  .prompt-dialog{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100dvw;
    height: 100dvh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    z-index: 1001;
  }
  .prompt-dialog .confirmation-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  .confirmation-dialog span.confirm-text{
    font-weight: 600;
  }
  .prompt-contrs > *{
    font-size: 1.3rem;
    padding: 8px 20px;
    margin: 20px 10px;
    color: var(--white);
    border: none;
    cursor: pointer;
  }
  .prompt-contrs .confirm{
    background: var(--primary);
  }
  .prompt-contrs .close-button{
    background: var(--secondary-a);
  }
  
}

main-section.edit{
  .forms-wrapper{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 20px;
    max-width: 500px;
    margin: 10px auto 10px auto;
  }
  .forms-wrapper .find-course{
    width: 100%;
    display: flex;
    column-gap: 5px;
    margin-bottom: 50px;
    align-items: end;
    background: var(--primary);
    padding: 20px;
  }
  .find-course label{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
  }
  .find-course label span{
    color: var(--white);
    font-size: 19px;
  }
  .find-course label input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
  }
  .find-course label input:focus{
    outline: none;
  }
  .find-course > input{
    width:fit-content;
    height: fit-content;
    background: var(--white);
    color: var(--primary);
    font-weight: 800;
    padding: 10px ;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  form.form{
    display: none;
  }
  form.form.active{
    background: var(--primary);
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  form span.form-title{
    display: block;
    padding: 10px 20px;
    background: var(--white);
    color: var(--primary);
    font-weight: 800;
  }
  form input, .back-button{
    padding: 10px 20px;
  }
  .back-button{
    display: block;
    background: var(--secondary-a);
    color: var(--white);
    text-align: center;
    font-weight: 300;
  }
  .form span.add-more{
    display: block;
    width: fit-content;
    align-self: end;
    border: 1px solid var(--primary);
    background: var(--black);
    padding: 5px 10px;
    color: var(--white);
    border-radius: 5px;
    font-size: 13px;
  }
  #result span{
    display: block;
    border: 1px solid currentColor;
    padding: 10px;
    text-align: center;
    max-width: 450px;
    margin: 10px auto;
    color: var(--white);
    border-radius: 4px;
  }
  #result span.fail{
    background-color: var(--secondary-a);
  }
  #result span.success{
    background-color: var(--primary);
  }
  .prompt-dialog.active{
    transform: scale(1);
  }
  .prompt-dialog{
    position: fixed;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    z-index: 1001;
  }
  .prompt-dialog .confirmation-dialog{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
  }
  .confirmation-dialog span.confirm-text{
    font-weight: 600;
  }
  .prompt-contrs > *{
    font-size: 1.3rem;
    padding: 8px 20px;
    margin: 20px 10px;
    color: var(--white);
    border: none;
  }
  .prompt-contrs .confirm{
    background: var(--primary);
  }
  .prompt-contrs .close-button{
    background: var(--secondary-a);
  }  
}

main-section.delete{
  .delete-course-wrapper{
    width: 100dvw;
    padding: 10px;
  }
  input[type="text"]{
    background-color: var(--white);
    display: block;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    border: none;
  }
  input[type="submit"], button{
    display: block;
    padding: 10px;
    border-radius: 4px;
    border: none;
    color: var(--primary);
    font-weight: 900;
    text-transform: capitalize;
  }
  .find-course{
    width: 100%;
    max-width: 350px;
    border: 1px solid var(--primary);
    display: flex;
    padding: 10px;
    background-color: var(--primary);
    border-radius: 4px;
    gap: 5px;
    margin: 30px auto;
  }
  .result .show-found-course{
    background-color: var(--primary);
    width: 95%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px 10px;
  }
  .result .show-found-course h3{
    border-radius: 5px;
    background-color: var(--white);
    color: var(--primary);
    margin-bottom: 8px;
    padding: 20px 10px 10px;
  }
  .result .show-found-course h4{
    background-color: var(--white);
    color: var(--primary);
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 5px 10px;
  }

  .result .show-found-course > button{
    background: var(--secondary-a);
    color: var(--white);
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
  }
  .result .show-found-course > span{
    font-size: var(--first-s);
    color: var(--white);
  }
  .result .show-found-course ol li{
    margin-bottom: 5px;
    font-size: var(--first-s);
    color: var(--white);
    text-transform: capitalize;
  }
  .prompt-dialog .confirm-button{
    color: var(--white)!important;
    background-color: var(--secondary-a)!important;
  }
  .prompt-dialog .close-button{
    color: var(--secondary-a);
    border: 1px solid currentColor;
  }
}