header{
  display: none;
}
.content-wrapper{
  padding: 20px;
}
.alt-navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  gap: 10px;
  text-align: center;
  align-items: baseline;
}

.alt-navbar button{
  cursor: pointer;
  border: 2px solid currentColor;
  padding: 5px 8px;
  height: fit-content;
}
.alt-navbar button:first-child{
  border-radius: 5px 0 0 5px;
  background-color: var(--first);
  color: var(--fourth);
  font-size: var(--first-s);
}
.alt-navbar button:nth-child(3){
  border-radius: 0 5px 5px 0;
  background-color: var(--first);
  color: var(--third);
  font-size: var(--first-s);
}
.alt-navbar button:first-child:hover{
  color: var(--first);
  background-color: var(--second);
}
.alt-navbar button:nth-child(3):hover{
  background-color: var(--third);
  color: var(--first);
}
li{
  padding-left: 0;
}
ul li{
  list-style-type: circle;
}
b{
  display: inline-flex;
  font-family: poppins-regular;
  font-size: var(--second-s);
  margin-left: 10px;
  margin-right: 10px;
  color: var(--third);
  font-style: italic;
  text-transform: uppercase;
}
p.course-overview{
  padding: 10px;
}
.course-points{
  color: var(--sixth);
}
h3{
  color: var(--third);
}
@media (min-width: 769px) {
  .content-wrapper{
  }
  
}