.find-partner-wrapper{
  width: 100dvw;
}
.find-partner-form{
  width: 100%;
  max-width: 400px;
  border: 1px solid var(--third);
  display: flex;
  padding: 20px 30px;
  background-color: var(--third);
  border-radius: 4px;
  gap: 5px;
  margin: 30px auto;
}
.find-partner-wrapper .find-partner-form .partner{
  width: 100%;
  padding: 5px ;
}
.find-partner-wrapper .find-partner-form .partner:focus{
  outline: none;
}
.find-partner-wrapper .find-partner-form button{
  color: var(--third);
}
button{
  background-color: var(--first);
  border: 1px solid currentColor;
  cursor: pointer;
  padding: 7px 10px;
}
.find-partner-wrapper .result{
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
}
.find-partner-wrapper .result .invalid-code{
  padding: 10px;
}
.find-partner-wrapper .result .show-found-partner{
  width: 100%;
  border: 1px solid var(--third);
  background-color: var(--third);
  padding: 20px 10px;
}
.find-partner-wrapper .result .show-found-partner .partner-name, .find-partner-wrapper .result .show-found-partner .partner-overview{
  color: var(--first);
  display: block;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0 20px 10px 20px;
}
.find-partner-wrapper .result .show-found-partner .partner-name::before, .find-partner-wrapper .result .show-found-partner .partner-overview::before{
  content: 'Overview:';
  padding: 2px 10px;
  margin-right: 4px;
  font-weight: 800;
  display: block;
  background-color: var(--first);
  color: var(--sixth);
  font-size: 1.7rem;
  margin-bottom: 10px;
}
.find-partner-wrapper .result .show-found-partner .partner-name::before{
  content: 'partner: ';
}
.find-partner-wrapper .result .show-found-partner > button, .result .is-not-deleted, .result .is-deleted, .delete-partner-wrapper .result .invalid-code, .deny-delete{
  display: block;
  width: calc(100% - 40px);
  margin: 20px 0 30px 20px;
  color: var(--first);
  background-color: var(--sixth);
  border-color: var(--sixth);
  font-weight: 900;
  font-size: 1.2rem;
  text-align: center;
  text-transform: uppercase;
}
.result .is-not-deleted{
  padding: 5px 10px;
}
.result .is-deleted{
  background-color: var(--third);
  border: 1px solid currentColor;
  padding: 5px 10px;
}
.result .prompt-dialog{
  background-color: var(--first);
  display: none;
}
.result .prompt-dialog.active{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.prompt-box{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--third);
  border: 1px solid var(--third);
  padding: 10px;
}
.prompt-box span.confirm-text{
  margin: 4px auto;
  font-size: 1.2rem;
  color: var(--first);
}
.prompt-box span.confirm-text .confirm-partner{
  display: inline-block;
  padding: 0 4px;
  margin: 0 4px;
  background-color: var(--first);
  color: var(--sixth);
}
.prompt-box .contrs{
  margin: 4px auto;
  display: flex;
  gap: 5px;
}
.prompt-box .contrs input{
  padding: 6px 10px;
  width: 100%;
}
.prompt-box .contrs button{
  color: var(--first);
  border-color: transparent;
  background-color: var(--sixth);
}
.provider-wrapper{
  width: 100dvw;
  padding: 50px 10px;
}
.provider-wrapper .result{
  width: 95%;
  max-width: 350px;
  margin: auto;
  color: var(--white);
  text-transform: uppercase;
  text-align: center;
}
.provider-wrapper .result span.add-success{
  display: block;
  background: var(--third);
  padding: 20px;
  margin: 10px 15px;
}
.provider-wrapper .result span.add-fail{
  display: block;
  background: red;
  padding: 20px;
  margin: 10px 15px;
}
.provider-wrapper .provider-form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 95%;
  max-width: 350px;
  margin: auto;
  border: 2px solid;
  padding: 30px 20px 70px 20px;
}
.provider-form h3{
  width: fit-content;
  margin: 0 auto;
  font-size: 1.3rem;
}
.provider-form label{
  display: flex;
  gap: 5px;
  flex-direction: column;
}
.provider-form label:nth-child(3){
  padding: 20px 0 0 0;
}
i.add-more{
  display: block;
  width: fit-content;
  padding: 5px 10px;
  background: var(--second);
  margin: 5px;
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}
.provider-form label span{
  font-weight: 500;
  font-size: 1.1rem;
}
.provider-form label input{
  width: 100%;
  padding: 10px;
}
.provider-form button{
  padding: 10px;
  background: var(--third);
  color: var(--white);
  border: none;
  font-size: 1.1rem;
}
form.find-provider{
  width: 95%;
  max-width: 350px;
  background: var(--third);
  padding: 20px;
  display: flex;
  gap: 5px;
  margin: 10px auto;
}
form.find-provider input[type="text"]{
  padding: 10px;
  width: 100%;
}
.form-provider input[type="submit"]{
  
  color: var(--third);
  background: var(--white);
}
