main-section{
  background-color: var(--dark);
}
.forgot-password-page-container{
  width: 100dvw;
  font-family: alice;
}
span.success{
  color: var(--third);
  font-size: var(--first-s);
  font-weight: 500;
}
span.success .timeout{
  color: var(--sixth);
  font-family: acolonica;
}
form.email-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 350px;
  background-color: var(--third);
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}
form span.title{
  display: block;
  padding: 10px 20px ;
  color: var(--first);
  background-color: var(--dark);
  border-radius: 20px;
  width: fit-content;
  font-size: var(--third-s);
}
form input{
  display: block;
  padding: 10px;
  font-size: var(--second-s);
  text-transform: lowercase;
}
form.email-container button{
  display: block;
  padding: 10px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: var(--first);
  text-transform: capitalize;
  font-size: var(--second-s);
  color: var(--third);
  cursor: pointer;
}
.result *{
  padding: 10px;
  color: var(--first);
  margin: 30px auto;
  font-size: var(--first-s);
  text-align: center;
  text-transform: uppercase;
  width: 90%;
  max-width: 350px;
}
.result .success{
  background-color: var(--third);
}
.result .failed{
  background-color: var(--sixth);
}