main-section{
  min-height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5dvh;
}
form{
  position: relative;
  top: 50px;
  border: solid 2px var(--third);
  padding: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  width: calc(100dvw - 20px);
  margin: 10px;
  max-width: 400px;
}
form span.form-title{
  font-weight: 900;
  font-size: 2rem;
}
form label{
  position: relative;
  width: 95%;
  display: flex;
}
form label span.text-overlay{
  display: block;
  position: absolute;
  left: 15px;
  top: 12px;
  background: var(--first);
  padding: 3px 5px;
  transition: .2s ease-out;
}
form label input{
  padding: 14px;
  width: 100%;
}
form label input:focus{
  border: 1px dotted;
  outline: none;
}
form label input:focus +*{
  transform: translateY(-30px);
  display: block;
  color: var(--second);
}
form label input:user-valid{
  border: 2px solid var(--third);
}
form label input:user-invalid{
  border: 2px solid var(--sixth);
}
form label input:user-valid +*{
  display: none;
}
form label input:user-invalid +*{
  transform: translateY(-30px);
  display: block;
  color: var(--sixth);
}
form > input{
  width: 95%;
  text-align: center;
  padding: 10px;
}
form span + i ,form label i{
  color: var(--sixth);
  font-size: var(--second-s);
  display: flex;
  font-style: normal;
  font-family: alice;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.form-error-icon{
  width: var(--second-m);
  height: var(--second-m);
  margin-right: 5px;
}
.form-eye-close, .form-eye-open{
  color: var(--third);
  background-color: transparent;
  width: 33px;
  position: absolute;
  top: 10px;
  transform: scale(0.7);
  right: 0;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.state-active{
  display: block;
}