.title{
  display: block;
  padding: 10px;
  width: 97%;
  background-color: var(--dark);
  color: var(--primary);
  margin: 10px auto 20px auto;
  text-align: center;
  text-transform: capitalize;
  font-family: alice;
  letter-spacing: 1px;
  border-radius: 5px;
  word-wrap: break-word;
}
.title::first-letter{
  font-size: var(--third-s);
}
.module-nav-bar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: first baseline;
  gap: 20px;
  padding: 10px 2%;
  margin: 20px auto;
  color: var(--white);
  text-transform: capitalize;
}
.module-nav-bar .btn{
  display: block;
  width: 70px;
  height: 70px;
  padding: 10px;
  font-size: var(--base-s);
  text-align: center;
  text-transform: uppercase;
  color: var(--white);
  height: fit-content;
  text-decoration: none;
}
.module-nav-bar .btn:hover{
  opacity: 0.8;
}
.module-nav-bar .module-back{
  background-color: var(--secondary-a);
  border-radius: 7px 2px 2px 7px;
}
.module-nav-bar .module-next{
  background-color: var(--primary);
  border-radius: 2px 7px 7px  2px;
} 
.module-content{
  width: 99%;
  max-width: 900px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
}
.module-content .module-video{
  width: 100%;
  height: 50%;
}