main-section{
  display: block;
  width: 100dvw;
  background-color: var(--dark);
  width: 100%;
  padding: 10px;
}
.profile-wrapper{
  width: 100%;
  background-color: transparent;
}
.profile-image-tab .username{
  display: block;
  color: var(--first);
  font-size: var(--second-s);
  text-transform: capitalize;
  opacity: 0.5;
  text-align: center;
  margin: 5px;
}
.profile-img{
  display: block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 100%;
  border: 3px solid var(--third);
  padding: 5px;
  margin: 0 auto;
}

@media (max-width: 550px) {
  .profile-img{
    margin: 0 auto;
  }
  .main-page{
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .profile-image-tab .username{
    color: var(--first);
    font-size: var(--second-s);
    text-transform: capitalize;
    opacity: 0.5;
  }
  .main-page .title-bar{
    display: none;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid var(--darker);
  }
  .main-page .title-bar.active{
    display: flex;
  }
  .title-bar .back-button{
    width: 30px;
    height: 30px;
    color: var(--third);
  }
  .title-bar .title{
    font-size: var(--fourth-s);
    text-transform: capitalize;
    color: var(--third);
  }
  .main-links{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    flex: 1;
    padding: 20px 0;
    transition: 0.2s ease-out;
  }
  .main-links.inactive{
    transform: translateX(calc(-100% - 20px));
  }
  .main-links > li, .main-links > li ul li a{
    display: flex;
    color: var(--first);
    opacity: 0.8;
    font-size: var(--second-s);
    text-transform: capitalize;
    cursor: pointer;
    border-bottom: 2px solid var(--darker);
    padding: 20px;
    text-decoration: none;
  }
  .main-links li ul li:last-child a, .main-links li:last-child{
    border: none;
  }
  .main-links > li:hover{
    color: var(--third);
  }
  .main-links > li span{
    display: block;
  }
  .main-links > li > ul{
    display: none;
    position: absolute;
    top: 0;
    left: calc(100% + 20px);
    list-style-type: none;
    padding: 0;
  }
  .main-links > li ul.active{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }
}
@media (min-width: 551px) {
  .profile-wrapper{
    height: 100dvh;
    display: flex;
    align-items: center;
  }
  .main-page{
    position: relative;
    width: 40%;
    max-width: 300px;
    border: 2px solid var(--darker);
    padding: 10px;
  }
  .main-page .title-bar{
    display: none;
  }
  .main-links{
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style: none;
    padding: 0;
  }
  .main-links > li, .main-links ul li a{
    border-top: 1px solid var(--darker);
    padding: 10px;
    cursor: pointer;
    color: var(--first);
    opacity: 0.7;
  }
  .main-links li ul{
    display: none;
    position: absolute;
    list-style: none;
    height: calc(100% + 4px);
    left: calc(100% + 2px);
    border: 2px solid var(--darker);
    border-left: none;
    width: fit-content;
    min-width: 100%;
    align-items: flex-start;
    white-space: nowrap;
    flex-wrap: wrap;
    top: -2px;
    padding: 20px;
  }
  .main-links li ul.active{
    display: flex;
  }
  .main-links ul li a{
    display: flex;
  }
}