main-section{
  display: flex;
  justify-content: center;
  background: url('/images/000034.jpg');
}
.forgot-password-page-container{
  height: fit-content;
  width: 100dvw;
  margin: auto;
  padding: 30px;
  font-family: alice;
}
form.email-container{
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: 2px solid var(--third);
  padding: 30px 20px 40px;
  margin: 0 auto;
  background-color: var(--first);
}
form label{
  position: relative;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
form label span.text-overlay{
  display: block;
  position: absolute;
  left: 15px;
  top: 12px;
  background: var(--first);
  padding: 3px 5px;
  transition: .2s ease-out;
}
form label input{
  border: 1px solid;
  padding: 14px;
  width: 100%;
}
form label input:focus{
  border: 1px dotted;
  outline: none;
}
form label input:focus +*{
  transform: translateY(-30px);
  display: block;
  color: var(--second);
}
form label input:user-valid{
  border: 2px solid var(--third);
}
form label input:user-invalid{
  border: 2px solid var(--sixth);
}
form label input:user-valid +*{
  transform: translateY(-30px);
}
form label input:user-invalid +*{
  transform: translateY(-30px);
  display: block;
  color: var(--sixth);
}
form button{
  width: 100%;
  text-align: center;
  padding: 10px;
}
.result *{
  padding: 10px;
  color: var(--first);
  margin-top: 30px;
  font-size: var(--first-s);
  text-align: center;
  text-transform: uppercase;
}
.password-updated{
  background-color: var(--third);
}
.password-not-updated{
  background-color: var(--sixth);
}
.form-eye-close, .form-eye-open{
  color: var(--third);
  background-color: transparent;
  width: 33px;
  position: absolute;
  top: 8px;
  transform: scale(0.7);
  right: 7px;
  cursor: pointer;
  z-index: 1;
  display: none;
}
.state-active{
  display: block;
}