main-section{
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.forgot-password-page-container{
  height: fit-content;
  width: fit-content;
  margin: auto;
  padding: 30px;
  font-family: alice;
}
form.email-container{
  width: fit-content;
  color: var(--sixth);
  display: flex;
  flex-direction: column;
  border: 2px solid var(--third);
  padding: 20px 20px 40px 20px;
}
form.email-container input, button{
  width: 100dvh;
  margin: 10px 0;
  display: block;
  padding: 10px;
  max-width: 350px;
}
button{
  cursor: pointer;
}
.result *{
  padding: 10px;
  color: var(--first);
  margin-top: 30px;
  font-size: var(--first-s);
  text-align: center;
  text-transform: uppercase;
}
.password-updated{
  background-color: var(--third);
}
.password-not-updated{
  background-color: var(--sixth);
}