main-section {
  background-color: var(--dark);
  color: var(--first);
  padding: 50px 20px;
}
.find-student-form {
  margin-bottom: 40px;
}
.find-student-form form {
  display: flex;
}
form i{
  font-style: normal;
  font-size: var(--fourth-s);
  color: var(--third);
}
.find-student-form form input {
  border: 1px solid var(--black);
  padding: 5px 20px;
  font-size: var(--second-s);
  text-transform: uppercase;
}
.find-student-form form button {
  border: 1px solid var(--third);
  background-color: var(--third);
  color: var(--white);
  margin-left: 5px;
  padding: 8px 20px;
  font-size: var(--second-s);
  text-transform: uppercase;
  cursor: pointer;
  font-family: alice;
  transition: 0.2s ease;
}
.find-student-form form button:hover {
  border-radius: 0 10px 10px 0;
  opacity: 0.8;
}
.show-found-student {
  display: flex;
  gap: 50px;
}
.show-found-student .student-image {
  width: 250px;
}
.show-found-student .student-image img {
  object-fit: cover;
  width: 100%;
}
.show-found-student .student-details {
  display: flex;
  flex-direction: column;
}
.show-found-student .student-details div {
  margin-bottom: 5px;
}
.show-found-student .student-details div b{
  color: var(--fifth);
  font-size: var(--third-s);
  text-transform: uppercase;
}
.show-found-student .student-details div span{
  color: var(--white);
  font-size: var(--second-s);
  margin-left: 5px;
}
.show-found-student .student-details div span.verification-status {
  color: var(--third);
}
@media (max-width: 550px) {
  .find-student-form form {
    display: flex;
    flex-direction: column;
  }
  .find-student-form form input {
    width: calc(100dvw - 20px);
  }
  .find-student-form form button {
    width: calc(100dvw - 20px);
    margin-left: 0;
    margin-top: 10px;
    border-radius: 0;
  }
  .find-student-form form button:hover {
    border-radius: 0;
  }
  .show-found-student {
    flex-direction: column;
    gap: 20px;
    width: 100dvw;
    align-items: center;
  }
}
.invalid-code{
  display: block;
  margin: 20px auto;
  background: var(--sixth);
  text-align: center;
  padding: 10px;
  color: var(--first);
}
@media (min-width: 551px) {
  form {
    display: flex;
    align-items: center;
  }
  form i {
    margin-right: 10px;
  }
  .invalid-code{
    margin: 0 50px;
    padding: 10px 50px;
    position: relative;
    left: 110px;
  }
}
