main-section {
  background-color: var(--dark);
  color: var(--first);
  padding: 50px 20px;
}
h3{
  width: fit-content;
  background-color: var(--white);
  color: var(--third);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}
.find-student {
  margin-bottom: 40px;
  background-color: var(--third);
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px 20px 30px 20px;
}
i{
  font-style: normal;
  font-size: var(--fourth-s);
  color: var(--first);
}
.find-student form input {
  border: 1px solid var(--black);
  padding: 10px;
  font-size: var(--second-s);
  text-transform: uppercase;
  width: 100%;
  font-family: alice;
}
.find-student form button {
  background-color: var(--white);
  color: var(--third);
  margin-left: 5px;
  padding: 10px 15px;
  font-size: var(--second-s);
  text-transform: uppercase;
  cursor: pointer;
  font-family: alice;
  transition: 0.2s ease;
}
.find-student form button:hover {
  border-radius: 0 10px 10px 0;
  opacity: 0.8;
}
.result {
  flex-direction: column;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  gap: 50px;
  background-color: var(--white);
  border: 10px solid var(--third);
}
.result .student-details {
  display: flex;
  flex-direction: column;
  color: var(--black);
  padding: 20px;
}
.result .student-details div {
  margin-bottom: 5px;
}
.result .student-details div b{
  color: var(--fifth);
  font-size: var(--third-s);
  text-transform: uppercase;
}
.result .student-details div span{
  color: var(--second);
  font-size: var(--third-s);
  margin-left: 5px;
  font-family: alice;
  font-weight: 500;
}
.result .student-details div span.verification-status {
  color: var(--third);
  font-weight: 900;
  font-size: var(--third-s);
}
@media (max-width: 550px) {
  .find-student form {
    display: flex;
    flex-direction: column;
  }
  .find-student form input {
    width: 100%;
  }
  .find-student form button {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
    border-radius: 0;
  }
  .find-student form button:hover {
    border-radius: 0;
  }
  .result {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media (min-width: 551px) {
  form {
    display: flex;
    align-items: center;
  }
  form i {
    margin-right: 10px;
  }
  .invalid-code{
    margin: 0 50px;
    padding: 10px 50px;
    position: relative;
    left: 110px;
  }
}
