main-section{
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('/images/000023.jpg');
  background-repeat: no-repeat;
  object-fit:fill;
  min-height: 70%;
}
form.resend-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 90%;
  max-width: 450px;
  background-color: var(--dark);
  padding: 60px 20px 60px 20px;
  border-radius: 5px;
}
form input{
  width: 90%;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--first);
  color: var(--first);
  font-size: var(--second-s);
}
form button{
  width: 90%;
  padding: 10px;
  border: none;
  background-color: var(--first);
  color: var(--third);
  font-size: var(--second-s);
  text-transform: capitalize;
}
span.verified{
  display: block;
  max-width: 500px;
  width: 95%;
  background-color: var(--darker);
  border-radius: 5px;
  color: var(--first);
  font-size: var(--third-s);
  padding: 60px;
}